@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    direction: ltr;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}

:root{
    --bg-image: url(../../assets/img/wall_30.png);
    --bg-color: #262c49;
    --text-color: #ced0dc;
    --bg-color-highlight: #10163a;


    --bg-color-light: #ced0dc;
    --text-color-light: #10163a;
    --bg-color-highlight-light: #bfc1c8;

}

a, a:hover{
    color: var(--text-color);
}

.light a, .light a:hover{
    color: var(--text-color-light);
}


#wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.switch-toggle{
    margin: 5px;
    width: 40px;
    height: 18px;
    appearance: none;
    background: #83d8ff;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, .3);
}
.switch-toggle::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 5px;
    background: #efe2bf;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);

}
.switch-toggle:checked{
    background: #749dd6;
}
.switch-toggle:checked:before{
    left: 20px;
}



a,
a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 5px;
}


#body_container{
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

body.light>#body_container{
    color: var(--text-color-light);
}


#sidebar_container{
    position: fixed;
    width: 200px;
    padding: 2px;
    background: var(--bg-color-highlight);
    height: 100vh;
    overflow: hidden;
}


body.light>#body_container>#sidebar_container{
    background: var(--bg-color-highlight-light);
}

#main_container{
    position: relative;
    left: 200px;
    width: calc(100vw - 200px);
    padding: 2px;
    background: var(--bg-color);
    
}

body.light>#body_container>#main_container{
    background: var(--bg-color-light);
}



.sidebar_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.sidebar_top_left{
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

.sidebar_bar{
    z-index: 1;
}
svg.svg-inline--fa.fa-bars{
    font-size: 24px !important;
    padding: 5px;
}

.sidebar_bar:hover,
.sidebar_bar:focus{
    cursor: pointer;
    background: var(--bg-color); 
    border-radius: 5px;
}
body.light>#body_container>#sidebar_container>.sidebar_top .sidebar_bar:hover,
body.light>#body_container>#sidebar_container>.sidebar_top .sidebar_bar:focus{
    cursor: pointer;
    background: var(--bg-color-light); 
    border-radius: 5px;
}

.sidebar_logo{
    width: 100%;
    z-index: 0;
}

.sidebar_logo>img{
    position: absolute;
    width: 80%;
    z-index: 0;
    top: 60px;
    opacity: 0.8;
}

.sidebar_items{
    margin-top: 70px;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 100px);
}

.sidebar_item{
    margin: 5px 0px;
    padding: 10px 2px 5px 10px;
    font-weight: 400;
    font-size: 13px;

}


.sidebar_item:hover,
.sidebar_item:focus{
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.02s all ease-in-out;
    background: var(--bg-color); 
}



body.light>#body_container>#sidebar_container>.sidebar_items>.sidebar_item:hover,
body.light>#body_container>#sidebar_container>.sidebar_items>.sidebar_item:focus{
    background: var(--bg-color-light); 
}



.sidebar_item:hover>.sidebar_item_active,
.sidebar_item:focus>.sidebar_item_active{
    /* font-weight: bold; */
}



svg{
    margin-right: 5px;
}

.navbar_container{
    width: 100%;
    height: 70px;
    background: var(--bg-color-highlight);
}

body.light>#body_container>#main_container>.navbar_container{
    background: var(--bg-color-highlight-light);
}

.sidebar_item_active{
    display: flex;
    align-items: center;
}

.navbar_items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}


.navbar_item{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.navbar_item:hover,
.navbar_item:focus{
    border-radius: 5px;
    cursor: pointer;
    background: var(--bg-color);
    
}
body.light>#body_container>#main_container>.navbar_container>.navbar_items>.navbar_item:hover,
body.light>#body_container>#main_container>.navbar_container>.navbar_items>.navbar_item:focus{
    background: var(--bg-color-light);
}

body.hide>#body_container>#sidebar_container{
    
    width: 50px;
}

body.hide>#body_container>#sidebar_container .switch-toggle,
body.hide>#body_container>#sidebar_container .sidebar_user,
body.hide>#body_container>#sidebar_container .sidebar_timer,
body.hide>#body_container>#sidebar_container .sidebar_logo
{
    display: none;
}

body.hide>#body_container>#sidebar_container .sidebar_items
{
    height: 100vh;
    position: relative;
    margin-top: 20px;
}

body.hide>#body_container>#sidebar_container .sidebar_item_active_text
{
    display: none;
}

body.hide>#body_container>#sidebar_container svg
{
    font-size: 18px;
}

body.hide>#body_container>#main_container
{
    width: calc(100vw - 50px);
    left: 50px;
    
}
body.hide>#body_container>#sidebar_container .sidebar_items .sidebar_item:hover:before {
    content: attr(data);
}

body.hide>#body_container>#sidebar_container .sidebar_items .sidebar_item:hover {
    display: flex;
    flex-direction: column-reverse;
    font-size: 10px;
}